.ui-content{
   
  background-color: #f3f3f3;
 
}
.ui-page .ui-header {
    background: #77bc1f;
}
.ui-page .ui-footer {
    background: #77bc1f ;
}
.text{
	color: black;
}

table,tr,th,td{
 border: 1px solid #77bc1f;
width: 60px;
}
.ui-responsive{
 width: 100%;
   
}
.inp{
width: 100%;
}
.inp:focus{
background-color: #77bc1f;
}

tr{
color: black;
}
input{
	color: black;
	width: 60px;
 background-color: transparent;
    border: 0px solid;
}
.ui-btn{
font-size: 11px;
 font-weight: bold;
 text-fill: white;
 background-radius: 30;
 background-color: green;
}
.ui-btn:hover{font-size: 11px;
 font-weight: bold;
 text-fill: #1d1d1d;
 background-radius: 50;
 background-color: orange;
color:green;
 
 }

